Django==4.2.20
django-extensions==3.1.1
django-graphql-jwt==0.1.5
graphene==2.1.8
graphene-django==2.2.0
gql==2.0.0
gunicorn==23.0.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-heroku
requests
PyJWT==2.4.0
