<img id="background"
    src="https://res.cloudinary.com/tiagogbt/image/upload/v1613605064/background-white-gradient_ac6ayb.png" alt="" />
<img id="logo" src="https://res.cloudinary.com/tiagogbt/image/upload/v1625797383/logoblack_mrws8y.png" alt="" />
<div id="recover-div">
    <p id="text">Este é o ultimo passo para recuperar sua senha!! <br>Basta digitar sua nova senha!</p>
</div>

<form method='post' id="input-form">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="Confirmar" class="submit-btn" id="cpf-input">
</form>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

    #background {
        position: fixed;
        z-index: -1;
        top: 0;
    }

    #logo {
        position: absolute;
        width: 20%;
        left: 40%;
        top: 8%;
    }

    #recover-div {
        margin-top: 18%;
    }

    #text,
    #title,
    #cpf-input,
    #input-form,
    #id_new_password1,
    #id_new_password2 {
        font-family: "Raleway", sans-serif;
        text-align: center;
        font-size: 30px;
    }

    #cpf-input {
        padding: 1%, 2%;
        color: black;
        background-color: #26fed5;
        border-color: #26fed5;
        border-radius: 5px;
    }

    #cpf-input:hover {
        color: #26fed5;
        background-color: black;
        border-color: black;
    }
</style>
