<img id="background"
   src="https://res.cloudinary.com/tiagogbt/image/upload/v1613605064/background-white-gradient_ac6ayb.png" alt="" />
<img id="logo" src="https://res.cloudinary.com/tiagogbt/image/upload/v1625797383/logoblack_mrws8y.png" alt="" />

<p id="text">
   Enviamos um e-mail para você, Por favor verifique sua caixa de entrada e siga as instruções. <br>
   Caso não tenha recebido o e-mail, verifique sua caixa de Spam ou a Lixeira</p>

<style>
   @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

   #background {
      position: fixed;
      z-index: -1;
      top: 0;
   }

   #logo {
      position: absolute;
      width: 20%;
      left: 40%;
      top: 8%;
   }

   #text {
      font-family: "Raleway", sans-serif;
      text-align: center;
      font-size: 30px;
      margin-top: 18%;
   }
</style>
